@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

:root {
  --color-primary-darkest: #061f4a;
  --color-cool-blue-lightest: #8ba6ca;
  --color-header-gold: #fff200;
  --color-black: #000000;
  --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

li:hover {
  cursor: pointer;
  color: var(--color-header-gold);
}

label,
input {
  display: block;
}

input {
  background-color: var(--color-cool-blue-lightest);
  border: none;
}

textarea {
  resize: none;
  background-color: var(--color-cool-blue-lightest);
  border: none;
}

#nav-container {
  position: relative;
  padding-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#home-nav {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 1.3% 100%);
  width: 40vw;
}

#home-nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#home-nav > ul > li {
  display: inline-block;
  font-size: 24px;
}

#home-handler {
  margin: 0.5vh 0vw 0vh 38vw;
}

#menu-icon {
  height: 3vh;
}

#home {
  background-image: url("/assets/quasar_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#home-text-container {
  background-color: #8ba6ca;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 37% 100%);
  height: 100vh;
  width: 40vw;
}

#slogan {
  text-align: left;
  margin: 5vh 0vw 0vh 9vw;
}

#body-text-container {
  width: 25vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#about,
#clients,
#contact {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#about-nav-container,
#clients-nav-container,
#contact-nav-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#about-nav,
#clients-nav,
#contact-nav {
  width: 100vw;
}

#about-nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#about-nav > ul > li {
  display: inline-block;
  font-size: 24px;
}

#about-handler,
#clients-handler,
#contact-handler {
  margin: 0.5vh 0vw 0vh 98vw;
}

#about-wrapper {
  display: flex;
  flex-direction: row;
}

#about-text-container {
  background-color: #8ba6ca;
  clip-path: polygon(0 0, 67% 0, 100% 100%, 0% 100%);
  height: 100vh;
  width: 66vw;
}

#about-header {
  padding: 5vh 0 2vh 2vw;
}

#three-dots {
  padding: 0 0 2vh 2vw;
}

#text-wrapper {
  width: 45vw;
}

#divider {
  background-color: #4773aa;
  transform: skew(24.5deg);
  height: 100vh;
  width: 13vw;
  margin-left: -11vw;
}

#soyuz {
  height: 100vh;
  width: 43vw;
  margin-left: -11vw;
}

#clients {
  background-image: linear-gradient(
      rgba(220, 228, 239, 0.75),
      rgba(220, 228, 239, 0.75)
    ),
    url("/assets/city.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#clients-nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#clients-nav > ul > li {
  display: inline-block;
  font-size: 24px;
}

#our-clients {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#clients-header {
  color: var(--color-black);
  padding: 5vh 0 2vh 2vw;
}

#clients-list {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 16.65% 41.55% 41.55%;
  grid-template-columns: repeat(4, 1fr);
}

#kontoor,
#aperture {
  width: 15vw;
  height: 7vh;
}

#computools,
#aviance {
  width: 20vw;
  height: 30vh;
}

#grinnell {
  width: 15vw;
  height: 15vh;
}

#text-container {
  grid-column: 1/1;
  grid-row: 1/1;
}

#first-client {
  grid-column: 1/2;
  grid-row: 2/3;
}

#second-client {
  grid-column: 2/3;
  grid-row: 2/3;
}

#third-client {
  grid-column: 3/4;
  grid-row: 2/3;
}

#fourth-client {
  grid-column: 4/5;
  grid-row: 2/3;
}

#contact-nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#contact-nav > ul > li {
  display: inline-block;
  font-size: 24px;
}

#contact-wrapper {
  background-color: var(--color-cool-blue-lightest);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 100vw;
  width: 100vw;
}

#contact-form {
  grid-column: 2/6;
  grid-row: 2/6;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

#name {
  grid-column: 1/5;
  grid-row: 1/2;
}

#company {
  grid-column: 5/9;
  grid-row: 1/2;
}

#email {
  grid-column: 1/9;
  grid-row: 2/3;
}

#query {
  grid-column: 1/9;
  grid-row: 3/8;
}

#submit {
  grid-column: 1/9;
  grid-row: 8/9;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#submit-button {
  background-color: var(--color-cool-blue-lightest);
  border: none;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.body-text {
  color: var(--color-black);
  padding-left: 20%;
  text-align: right;
}

.bold {
  font-weight: 900;
}

.border {
  border: 1px solid black;
}

.box {
  box-sizing: border-box;
}

.caps {
  text-transform: uppercase;
}

.full-height {
  height: 90%;
}

.full-width {
  width: 95%;
}

.handler {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  z-index: 2;
}

.header-big {
  font-size: 10vh;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-left-short {
  margin-left: 1vw;
}

.nav {
  position: absolute;
  z-index: 1;
  background-color: #061f4a;
}

.pad-left-long {
  padding-left: 5vw;
}

.pad-left-short {
  padding-left: 1vw;
}

.text {
  font-family: "Space Mono", monospace;
}

.white {
  color: var(--color-white);
}
